/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/public/bower_components
.htaccess
.bowerrc
/node_modules
/public/images/AndroidRandomWallpaper
/public/css/style.css
/public/js/app.js