body {
    background: #FFF;
    margin-top: 50px;
    margin-bottom: 20px;
}

.row {
    margin-top: 20px;
}

.contact-icons ul li {
    float: left;
    margin-right: 10px;
    list-style-type: none;
}

.contact-icons ul {
    margin-left: -40px;
}

h1, h2, h3, h4 {
  font-weight: 300;
  color: #000;
}

hr {
    border-color: #000;
    background-color: #000;
}

p {

}
.top {
    background-color: #000;
    padding: 0 15px;
    box-shadow: 0px 0px 15px #000;
}

.top .header {
    margin-bottom: 20px;
}

.top .navbar-brand {
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 10px;
    background-color: #000;
    color: #FFF;
    text-decoration: none;
}
.top .navbar-collapse {
    padding: 0px;
}

.top .container {
    padding: 0;
}

.navbar-nav li a {
  color: #FFF;
}
.navbar-nav li a:hover {
  background-color: #222;
}

.navbar-toggle {
    color: #FFF;
    font-size: 32px;
    margin: 3px;
    padding: 2px 5px;
    line-height: 32px;
}
.navbar-toggle:hover {
    background-color: #222;
}
.navbar-nav {
    margin: 0;
}

.content p {
    line-height: 30px;
    font-size: 16px;
}

.text {
    text-indent: 20px;
    margin-top: 5px;
}