/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.indigo500 {
  color: #3f51b5;
}
.material-icons.green500 {
  color: #4caf50;
}
.material-icons.red500 {
  color: #f44336;
}
.material-icons.redA700 {
  color: #d50000;
}
.material-icons.grey700 {
  color: #616161;
}
.material-icons.teal500 {
  color: #009688;
}
.material-icons.yellowA700 {
  color: #ffd600;
}
.material-icons.deep-purple500 {
  color: #673ab7;
}
.material-icons.blue500 {
  color: #2196f3;
}
.material-icons.md-white {
  color: #ffffff;
}
.material-icons.md-success {
  color: #4caf50;
}
.material-icons.md-error {
  color: #f44336;
}
.material-icons.md-info {
  color: #2196f3;
}
.material-app-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 128px;
  background: #1976d2;
  -webkit-box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
}
.material-app-bar .material-sidebar-toggle {
  color: #FFFFFF;
  display: inline-block;
  margin: 19px;
}
.material-app-bar .title {
  color: #FFFFFF;
  display: inline-block;
  position: absolute;
  top: 17px;
}
.material-app-bar .title h1 {
  font-size: 19px;
  font-weight: normal;
}
.material-app-bar .navigation {
  color: #FFFFFF;
  display: inline-block;
  float: right;
  margin: 19px;
}
.material-app-bar .navigation a {
  padding-left: 10px;
  color: #FFFFFF;
  text-decoration: none;
}
.material-app-bar .navigation a .material-icons {
  vertical-align: middle;
}
.material-card {
  position: absolute;
  top: 70px;
  left: 50%;
  z-index: 20;
  background: #FFFFFF;
  width: 60%;
  display: block;
  min-height: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-left: -30%;
  margin-bottom: 50px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
}
.sidebar {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  max-height: auto;
  width: 230px;
  background: #FFFFFF;
  z-index: 10;
  margin-right: 10px;
  -webkit-box-shadow: 3px 0 20px #000;
  -moz-box-shadow: 3px 0 20px #000;
  box-shadow: 3px 0 20px #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar .header {
  width: 230px;
  height: 200px;
  background: #1976d2;
  border-bottom: 1px solid black;
  position: relative;
}
.sidebar .header .material-sidebar-toggle {
  color: #FFFFFF;
  display: inline-block;
  padding: 7px 7px 0 7px;
  margin: 19px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.sidebar .header .tagline {
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  padding-left: 26px;
  padding-bottom: 10px;
  font-size: 12px;
}
.sidebar .nav {
  overflow-y: auto;
  height: auto;
  max-height: 900px;
}
.sidebar .nav .material-icons {
  vertical-align: middle;
  margin: 10px;
}
.left-bar {
  width: 230px;
  background: #2196f3;
  height: 100%;
  float: left;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.left-bar .contact-info {
  background: transparent;
  width: 230px;
}
.left-bar .contact-info .me {
  width: 230px;
  height: 178px;
  background-image: url("/images/me.png");
  background-size: 230px 178px;
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
.left-bar .contact-info .contact {
  color: #FFFFFF;
}
.left-bar .contact-info .contact .section {
  padding: 10px;
}
.left-bar .contact-info .contact .section .icon {
  float: left;
  display: inline-block;
}
.left-bar .contact-info .contact .section .content {
  margin-left: 30px;
  font-size: 0.9em;
}
.left-bar .contact-info .contact .section .content .heading {
  font-size: 1.3em;
  margin-bottom: 15px;
  border-bottom: 1px solid #2962ff;
}
.left-bar .contact-info .contact .section .content a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}
.left-bar .contact-info .contact .section .content a:hover {
  color: #2962ff;
}
.left-bar .skills {
  width: 230px;
  color: #FFFFFF;
}
.left-bar .skills .section {
  padding: 10px;
}
.left-bar .skills .section .icon {
  float: left;
  display: inline-block;
}
.left-bar .skills .section .content {
  margin-left: 30px;
  font-size: 0.9em;
}
.left-bar .skills .section .content .heading {
  font-size: 1.3em;
  margin-bottom: 10px;
  border-bottom: 1px solid #2962ff;
}
.left-bar .skills .section .content .skill {
  margin-bottom: 15px;
}
.left-bar .skills .section .content .meter {
  position: relative;
  float: left;
  width: 10px;
  height: 20px;
  background: #FFFFFF;
  padding: 0;
  margin-right: 10px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.left-bar .skills .section .content .meter .fill {
  background: #6200ea;
  display: block;
  width: inherit;
  opacdity: 1.5;
  position: absolute;
  bottom: 0;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.resume {
  padding: 20px;
  margin-left: 230px;
  width: auto;
}
.resume .experience .heading {
  font-size: 2em;
  font-style: italic;
  border-bottom: 1px solid #2196f3;
}
.resume .experience .job {
  margin: 20px 0;
  line-height: 30px;
  border-bottom: 1px solid #2196f3;
}
.resume .experience .job .job-info .date {
  margin-left: 20px;
  font-size: 0.8em;
}
.resume .experience .job .job-info .job-name {
  font-weight: bold;
  font-size: 1.5em;
}
.resume .experience .job .job-info .job-title {
  font-style: italic;
  display: block;
}
.resume .experience .job .job-description p {
  padding: 5px 0;
}
.resume .experience .job .job-description .duties {
  margin-left: 30px;
}
body {
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
  background: #e3f2fd;
}
body a {
  color: #2196f3;
  text-decoration: none;
}
body a:visited {
  color: #2196f3;
}
body a:hover {
  color: #2962ff;
  border-bottom: 1px solid #2962ff;
}
