.material-card {
	position: absolute;
	top: 70px;
	left: 50%;
	z-index: 20;
	background: @white;
	width: 50%;
	display: block;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-left: -25%;
	.border-radius(3px);
	.box-shadow(0 0 20px #000);

	.contact-info {
		background: transparent;
		width: 230px;
		min-height: inherit;

		.me {
			width: 230px;
			height: 178px;
			background-image: url("/images/me.png");
			background-size: 230px 178px;
			.border-radius(3px 0 0 0);
		}

		.contact {
			min-height: inherit;
			color: @white;
			padding: 20px;
			background: @blue;
			.border-radius(0 0 0 3px);
		}
	}
}